<a href="https://colab.research.google.com/github/mightnent/learn_python/blob/MITx-6.00.1x/EDX_PY2_Notes(II).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

**Abstraction**

Do it once and you need not care about the details anymore. Just need to know how to use it

**Decomposition**

Different pieces of devices/functions come together to give rise to an end goal. 

In programming, we divide code into modules. Modules could be functions or classes

When a function is called/invoked:

a new scope/frame/env is created.

scope is the mapping of names to obj

*Note* :

if no **return** statement in function, will result in 'None' type return

**Scope** : extremely impt concept. 

A function cannot modify a global variable that is outside of its scope.

<br>

In [0]:
#play around with functions
def a(x, y, z):
     if x:
         return y
     else:
         return z

def b(q, r):
    return a(q>r, q, r)

##################
#be very careful when you write#
a(True,a,b)

#This is returning function a or b, not char 'a' or 'b'.

In [0]:
>>> a = 10
>>> def f(x):
      return x + a
>>> a = 3
>>> f(1)

4

<br>

**keyword args & default values**

In [0]:
#my sad life
def couple(name1,name2,inLove=True):
  if inLove:
    return (name1 + " <3 " + name2)
    
  else:
    return False
  
couple("sn","wl",False)

False

More scope exercise:

Don't be tricked. One function can only return 1 thing

In [0]:
def foo(x, y = 5):
   def bar(x):
      return x + 1
   return bar(y * 2)
          
foo(3)

11

In [0]:
#how to use capitalize()
str1 = "ab ab ab"
str1.capitalize()

'Ab ab ab'

<br>

# Recurssion

Basically calling the function itself in the function definition

In [0]:
#iteration as though previously on factorial
def fact(n):
  result = 1
  for i in range(1,n+1):
    result *= i
  return result

print(fact(3))

6

In [0]:
#using recursion can cut the number of lines

def fact_re(n):
  if n==1:
    return 1
  else:
    return n*fact_re(n-1)

print(fact_re(3))

6

In [0]:
# recursion example for exponentials

def exp_power(base,exp):
  """
  basically times base exp number of times
  """
  if exp ==1 :
    return base
  elif exp == 0:
    return 1
  else:
    return base*exp_power(base,exp-1)
  
exp_power(3,3)

27

Recursion is essentially mathematical induction.

you are saying that the base case is true => if exp ==1: return base

this is to say the functions returns correct value for values less than exp.

so if you take a correct return and times base case, then the logic follows that the function will return correctly for exp as well

In [0]:
#demo tower of hanoi
def printMove(fr,to):
  print("move from " + str(fr) + " to " + str(to))

def tower(n,fr,to,spare):
  if n==1:
    return printMove(fr,to)
  else:
    #dont be confused by the var name
    #its always fr : to : spare sequence
    tower(n-1,fr,spare,to)
    #n==1 here, that's why printed
    tower(1,fr,to,spare)
    #but this also will be executed, so n != 1 anymore
    tower(n-1,spare,to,fr)
 
print(tower(4,"A","B","c"))

move from A to c
move from A to B
move from c to B
move from A to c
move from B to A
move from B to c
move from A to c
move from A to B
move from c to B
move from c to A
move from B to A
move from c to B
move from A to c
move from A to B
move from c to B
None

Another example for interation to recursion.

This is about Greatest Common Multiple

For the recursive case, think : gcd(a, b) is the same as gcd(b, a % b)

In [0]:
def gcdIter(a, b):
    c=0
    d=0
    if a<b:
        c=a
        d=b
    else:
        d=a 
        c=b
    if d%c==0:
        return c
    else:
        for i in range(1,c):
            if d%(c-i)==0 and c%(c-i)==0:
                return c-i
                break

print(gcdIter(2,12))

2

In [0]:
def gcdRecur(a, b):
    if b==0:
        return a
    else:
        return gcdRecur(b,a%b)

print(gcdRecur(24,12))

12

**Fibonacci**

In [0]:
#not sum
def fib(x):
  if x==0 or x==1:
    return 1
  else:
    return fib(x-1)+fib(x-2)
  
print(fib(3))

3

Using recurssion on strings

In [0]:
def isPalindrome(s):
  def toChar(s):
    s = s.lower()
    ans = ''
    for c in s:
      if c in 'abcdefghijklmnopqrstuvwxyz':
        ans = ans + c
    return ans
  def isPal(s):
    if len(s) <= 1:
      return True
    else:
      return s[0]==s[-1] and isPal(s[1:-1])
  return(isPal(toChar(s)))

print(isPalindrome("abcba"))

True

In [0]:
#recursion with bisection search on a alphabetical str. 
def isIn(char, aStr):
    mid = len(aStr)//2
    s = aStr
    #this is very clever, takes care of the case of empty str as well as 1 char str
    if len(aStr)<=1:
        return aStr == char
    if s[mid] == char:
        return True
    else:
        if s[mid]<char:
            return isIn(char,str(s[mid:]))
        else:
            return isIn(char,str(s[0:mid]))

<br>

# Importing

Say you have a file known as rectArea.py

In [0]:
#rectArea.py

def rectArea(length,width):
  area = length*width
  return area

You then want to use the above to find volume in another file, known as volume.py

In [0]:
#volume.py

from rectArea import *

height = 8
volume = rectArea(2,3)*height

**Note**:

If you define in current scope, it will override the import.

<br>

#File System RW

python gives us the ability to write into files independent of OS.

A simple google search on writing and reading files using python will give you more permutation. Below is an example.

In [0]:
myFile = open('kids.txt','w')
for i in range(2):
  name = input("name: ")
  myFile.write(name + '\')
myFile.close()

<br>

# Questions

In [2]:
#credit card problem
def remainingBalance(b,i,r,n):
    newBalance = b*(1-r)*(1+i/12)
    if n == 0:
        return newBalance
    else:
        n-= 1
        return remainingBalance(newBalance,i,r,n)

#with an original debt of 42, how much would you be left to pay after 1 year 
#assuming no new debt and only interest and pay back min % each month
print(remainingBalance(b=42,i=0.2,r=0.04,n=11))

31.379578260339372