<a href="https://colab.research.google.com/github/mightnent/learn_python/blob/MITx-6.00.1x/EDX_PY2_Notes(II).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Abstraction**

Do it once and you need not care about the details anymore. Just need to know how to use it

**Decomposition**

Different pieces of devices/functions come together to give rise to an end goal. 

In programming, we divide code into modules. Modules could be functions or classes

When a function is called/invoked:

a new scope/frame/env is created.

scope is the mapping of names to obj

*Note* :

if no **return** statement in function, will result in 'None' type return

**Scope** : extremely impt concept. 

A function cannot modify a global variable that is outside of its scope.

<br>

In [5]:
#play around with functions
def a(x, y, z):
     if x:
         return y
     else:
         return z

def b(q, r):
    return a(q>r, q, r)

##################
#be very careful when you write#
a(True,a,b)

#This is returning function a or b, not char 'a' or 'b'.

In [6]:
>>> a = 10
>>> def f(x):
      return x + a
>>> a = 3
>>> f(1)

4

<br>

**keyword args & default values**

In [16]:
#my sad life
def couple(name1,name2,inLove=True):
  if inLove:
    return (name1 + " <3 " + name2)
    
  else:
    return False
  
couple("sn","wl",False)

False

More scope exercise:

Don't be tricked. One function can only return 1 thing

In [17]:
def foo(x, y = 5):
   def bar(x):
      return x + 1
   return bar(y * 2)
          
foo(3)

11