<a href="https://colab.research.google.com/github/mightnent/learn_python/blob/MITx-6.00.1x/EDX_PY3_Notes(I).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structure

## **Tuples**

immutable

represented by ( )

When you declare tuple you use ( ), but when you index, it's still [ ]

Tuples needs commas: 

(1,) is a tuple and (1) is not

In [0]:
t = (1,2,3)
print(t[0])

1

you can add to a tuple by simply using +

however you cannot reassign

In [0]:
t = t+ (5,6,7)
print(t)

(1, 2, 3, 5, 6, 7)

In [0]:
#this does not work. 
t[0]=9

**Useful properties of tutples**

In [0]:
#easily sway values
(x,y) = (y,x)

In [0]:
#returning multiple values, although hacky
def quotient_and_remainder(x,y):
  q = x//y
  r = x%y
  return (q,r)
(quotient,remainder) = quotient_and_remainder(20,3)

In [0]:
#manipulating more tuples
def getData(aTuple):
  nums = ()
  words = ()
  for t in aTuple:
    nums = nums + (t[0],)
    if t[1] not in words:
      words = words + (t[1],)
  min_num = min(nums)
  unique_words = len(words)
  return (min_num,unique_words)

print(getData(((1,'one'),(3,'eyes'),(3,'3'))))

(1, 3)

In [0]:
#more exercise
def oddTuples(aTup):
  newTup = ()
  i=0
  while(i<len(aTup)):
    newTup = newTup + (aTup[i],)
    i += 2
 
    
  return newTup

print(oddTuples(('I', 'am', 'a', 'test', 'tuple')))

('I', 'a', 'tuple')

<br>

## **List**

key difference is mutable

You can also add list with list.

In [0]:
L=[1,2,3,4]
total = 0
for i in L:
  total += i
print(total)

10

In [0]:
L

[1, 2, 3, 4]

In [0]:
#delete an element
del(L[0])
L

[2, 3, 4]

In [0]:
#remove element, but will only remove first occurance of 2, in this case
L.remove(2)
L

[3, 4]

In [0]:
#pop the last element, returns the removed element
L.pop()

4

Note:

del, remove and pop essentially do the same thing. 

pop(index) will also remove the element at the particular index

In [0]:
L

[3]

In [0]:
#hacky way to break a string apart
s = '123'
list(s)

['1', '2', '3']

In [0]:
#reversing the above : create string from list
L1 = ["1","2","3"]
"".join(L1)

'123'

In [0]:
#join can also insert elements, after first list element starts
".".join(L1)

'1.2.3'

In [0]:
#split up a string into list at specific points
sentence = "Although I still love her, it's over."
sentence.split(",")

['Although I still love her', " it's over."]

In [0]:
#sorting
L2 = [5,7,33,9,2]
#creating a new copy
print(sorted(L2))
L2

[2, 5, 7, 9, 33]

[5, 7, 33, 9, 2]

In [0]:
#mutating L2 while sorting
L2.sort()
L2

[2, 5, 7, 9, 33]

In [0]:
L2.reverse()
L2

[33, 9, 7, 5, 2]

In [0]:
#insert at front
a = [1,2,3]
a.insert(0,100)
a

[100, 1, 2, 3]

In [0]:
  #you can also sort char
  listB = ['x', 'z', 't', 'q']
  listB.sort()
  listB

['q', 't', 'x', 'z']

<br>

# Mutation, cloning and aliasing

Python aliasing will create the same link to the same object. 

So mutation the alias will mutate the orignal object.

In [0]:
numbers1 = [1,2,3,4]
numbers2 = numbers1
numbers2

[1, 2, 3, 4]

If you do not want to mutate numbers1 by mutating numbers2, 
you need to create a copy

In [0]:
numbers3 = numbers1[:]
numbers3.append(3)
print(numbers3)
print(numbers1)

[1, 2, 3, 4, 3]
[1, 2, 3, 4]

Sometimes you want to clone the list and modify

In [0]:
numbers1 = [1,2,3,4]
numbers1copy = numbers1[:]
numbers1copy.append(6)
numbers1

[1, 2, 3, 4]

In [0]:
>>> aList = [0, 1, 2, 3, 4, 5]
>>> bList = aList
>>> aList[2] = 'hello'
>>> aList == bList

True

In [0]:
aList is bList

True

In [0]:
>>> cList = [6, 5, 4, 3, 2]
>>> dList = []
>>> for num in cList:
        dList.append(num)
>>> cList == dList

True

In [0]:
>>> cList is dList

False

<br>

# Functions as Objects

We need to understand that functions are essentially **first class objects**. 

They can be used where you would expect numbers, strings etc. 

They can thus be used in assignments and lists as well

In [4]:
#example:
def applyToEach(L,F):
  # L is list, F is function
  for e in range(len(L)):
    L[e] = F(L[e])
  return L

print(applyToEach([1,2,3,-3],abs))

[1, 2, 3, 3]

Python is very nice to create a general purpose Higher Order Procedure(HOP) know as **map**

It does the above code without needing us to define our applyToEach function.

In [9]:
newList = list(map(abs,[1,-2,3,-4]))
newList

[1, 2, 3, 4]

In [0]:
def applyEachTo(L, x):
    result = []
    for i in range(len(L)):
        result.append(L[i](x))
    return result

In [0]:
def square(a):
    return a*a

def halve(a):
    return a/2

def inc(a):
    return a+1

In [12]:
applyEachTo([inc, square, halve, abs], -3)

[-2, 9, -1.5, 3]

In [15]:
applyEachTo([inc, square, halve, abs], 3.0)

[4.0, 9.0, 1.5, 3.0]